<div class="advertisement-slider">


  <div *ngIf="advertisements.length > 0; else noAdvertisements">

    <!--<button class="prev-button" (click)="previousAdvertisement()">&#10094;</button>-->
    <img *ngIf="advertisements[currentAdIndex]?.imageURL"
         [src]="advertisements[currentAdIndex]?.imageURL"
         [alt]="advertisements[currentAdIndex]?.title"
         class="advertisement-image"
         (error)="onImageError()">

    <p *ngIf="!advertisements[currentAdIndex]?.imageURL" class="no-image-message">
      Slika nije dostupna
    </p>

    <!--<button class="next-button" (click)="nextAdvertisement()">&#10095;</button>-->
  </div>

  <ng-template #noAdvertisements>
    <p>Trenutno nema reklama.</p>
  </ng-template>
</div>
