<h1>Delivery information</h1>
<div class="image">
  <img src="images/shippingProces.png" alt="">
</div>
<div class="paragraphs">
  <p class="firstP">
    1. Quickly and easily search more than 5000 items in our offer
    <br>
    2. Our expert team is available for all questions at any time during your purchase
    <br>
    3. We pack your order carefully and send testers from top manufacturers with every purchase
    <br>
    4. In the shortest period of time, we deliver your order to your address via express mail
  </p>


  <p class="secondP">
    Delivery of an order within Bosnia and Herzegovina takes 1 to 5 business days (excluding Saturdays, Sundays and holidays) depending on the current availability of the items. If we are unable to deliver the shipment, of which you will receive a follow-up notification, you reserve the right to cancel the order or make a reservation and wait for the ordered product to become available. We deliver shipments via express mail partners or directly via our delivery personnel.
    <br><br>
    Delivery within Bosnia and Herzegovina is realized within 2 to 5 business days after sending the package (excluding Saturdays, Sundays and holidays) except for smaller places, for which the valid express mail schedule applies.
    <br><br>
    All orders received by 3:30 PM are processed the same day depending on the availability of the ordered items. All orders received after 3:30 PM due to technical capabilities and the express mail schedule are shipped the next day depending on the availability of the ordered items.
    <br><br>
    The online pharmacy does not assume responsibility in the event of a delay in delivery due to "force majeure" and the state of regional road communications. Before delivery, we check each item for damage. Please collect the shipment from the delivery person in order to avoid subsequent complaints due to a shipment damaged during delivery. For an order amount of less than 49.99 KM, the delivery cost is borne by the customer and amounts to 6.00 BAM (VAT included) for all locations in Bosnia and Herzegovina. For an order amounting to 50.00 KM to 99.99 KM, the customer pays delivery in the amount of 3.00 KM (VAT included), and for an order amount (total, products only) above 100.00 KM, DELIVERY IS FREE for all locations in Bosnia and Herzegovina.
  </p>

  <p>*We deliver only to the territory of Bosnia and Herzegovina.</p>
</div>
