<div class="login-container">
  <p *ngIf="form.errors?.['loginFailed']" class="error-message">
    {{ 'LOGIN.ERROR' | translate }}
  </p>
  <h2>{{ 'LOGIN.TITLE' | translate }}</h2>
  <form (ngSubmit)="onLogin()" [formGroup]="form">
    <app-my-input-text
      [myLabel]="'LOGIN.USERNAME_LABEL' | translate"
      [myPlaceholder]="'LOGIN.USERNAME_PLACEHOLDER' | translate"
      myControlName="username"
    ></app-my-input-text>

    <app-my-input-text
      [myLabel]="'LOGIN.PASSWORD_LABEL' | translate"
      [myPlaceholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate"
      [myType]="MyInputTextType.Password"
      myControlName="password"
    ></app-my-input-text>

    <mat-slide-toggle>{{ 'LOGIN.SAVE_LOGIN' | translate }}</mat-slide-toggle>

    <button class="login-button" color="primary" type="submit">{{ 'LOGIN.BUTTON' | translate }}</button>
    <p>Don't have an account? <a routerLink="/auth/register">Register</a></p>
  </form>

  <!-- Dodano dugme za povratak na početnu stranicu -->
  <div class="back-to-home">
    <button mat-button routerLink="/">Back to Home</button>
  </div>

  <div *ngIf="loginError" class="error-message">
    {{ 'LOGIN.ERROR_MESSAGE' | translate }}
  </div>
</div>
